.footer{

    height: 472px;
    background-color:  #1F2B6C;
    display: flex;
    justify-content: space-between;
    
    
}


.footer div{
    width: 23%;
    margin-top: 70px;
    margin-bottom: 47px;
    background-color: antiquewhite;
}